#**Basics**

In [29]:
import pandas as pd

In [30]:
a = [1,2,3]
var = pd.Series(a)
print(var)

0    1
1    2
2    3
dtype: int64

In [31]:
var = pd.Series(a,index = ['x','y','z'])
print(var)

x    1
y    2
z    3
dtype: int64

In [32]:
print(var['x'])

1

In [33]:
calories = {'day1':3000,'day2':2400,'day3':2000}
TDEE = pd.Series(calories)
print(TDEE)

day1    3000
day2    2400
day3    2000
dtype: int64

In [34]:
data = {'calories':[4200,3000,2000],'days':[1,2,3]}
var = pd.DataFrame(data)
print(var)

   calories  days
0      4200     1
1      3000     2
2      2000     3

In [35]:
print(var.loc[0])

calories    4200
days           1
Name: 0, dtype: int64

In [36]:
df = pd.read_csv('/content/drive/MyDrive/degrees-that-pay-back.csv')

In [37]:
df

                     Undergraduate Major  ... Mid-Career 90th Percentile Salary
0                             Accounting  ...                       $152,000.00
1                  Aerospace Engineering  ...                       $161,000.00
2                            Agriculture  ...                       $150,000.00
3                           Anthropology  ...                       $138,000.00
4                           Architecture  ...                       $136,000.00
5                            Art History  ...                       $125,000.00
6                                Biology  ...                       $135,000.00
7                    Business Management  ...                       $147,000.00
8                   Chemical Engineering  ...                       $194,000.00
9                              Chemistry  ...                       $148,000.00
10                     Civil Engineering  ...                       $148,000.00
11                        Communications  ...                       $143,000.00
12                  Computer Engineering  ...                       $162,000.00
13                      Computer Science  ...                       $154,000.00
14                          Construction  ...                       $171,000.00
15                      Criminal Justice  ...                       $107,000.00
16                                 Drama  ...                       $153,000.00
17                             Economics  ...                       $210,000.00
18                             Education  ...                       $102,000.00
19                Electrical Engineering  ...                       $168,000.00
20                               English  ...                       $133,000.00
21                                  Film  ...                       $136,000.00
22                               Finance  ...                       $195,000.00
23                              Forestry  ...                       $111,000.00
24                             Geography  ...                       $132,000.00
25                               Geology  ...                       $156,000.00
26                        Graphic Design  ...                       $112,000.00
27            Health Care Administration  ...                       $101,000.00
28                               History  ...                       $149,000.00
29                 Hospitality & Tourism  ...                       $124,000.00
30                Industrial Engineering  ...                       $173,000.00
31           Information Technology (IT)  ...                       $129,000.00
32                       Interior Design  ...                       $107,000.00
33               International Relations  ...                       $157,000.00
34                            Journalism  ...                       $145,000.00
35  Management Information Systems (MIS)  ...                       $146,000.00
36                             Marketing  ...                       $175,000.00
37                                  Math  ...                       $183,000.00
38                Mechanical Engineering  ...                       $163,000.00
39                                 Music  ...                       $134,000.00
40                               Nursing  ...                        $98,300.00
41                             Nutrition  ...                        $99,200.00
42                            Philosophy  ...                       $168,000.00
43                   Physician Assistant  ...                       $124,000.00
44                               Physics  ...                       $178,000.00
45                     Political Science  ...                       $168,000.00
46                            Psychology  ...                       $127,000.00
47                              Religion  ...                        $96,400.00
48                             Sociology  ...                       $118,000.00
49                               Spanish  ...                        $96,400.00

[50 rows x 8 columns]

#**Cleaning Data**

Bad data could be:

-> Empty cells
-> Data in wrong format
-> Wrong data
-> Duplicates

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Undergraduate Major                                50 non-null     object
 1   Starting Median Salary                             50 non-null     object
 2   Mid-Career Median Salary                           50 non-null     object
 3   Percent change from Starting to Mid-Career Salary  50 non-null     float64
 4   Mid-Career 10th Percentile Salary                  50 non-null     object
 5   Mid-Career 25th Percentile Salary                  50 non-null     object
 6   Mid-Career 75th Percentile Salary                  50 non-null     object
 7   Mid-Career 90th Percentile Salary                  50 non-null     object
dtypes: float64(1), object(7)
memory usage: 3.2+ KB

In [39]:
new_df = df.dropna(inplace=True)

In [40]:
df.fillna(100, inplace=True)

In [41]:
x = df['Percent change from Starting to Mid-Career Salary'].mean()
x

69.27399999999999

In [42]:
df.fillna(x,inplace=True)

In [43]:
df.dropna(subset=['Percent change from Starting to Mid-Career Salary'], inplace = True)

In [44]:
for x in df.index:
  if df['Percent change from Starting to Mid-Career Salary'].loc[x]>95:
    df['Percent change from Starting to Mid-Career Salary'].loc[x]=96

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [46]:
for x in df.index:
    if df['Percent change from Starting to Mid-Career Salary'].loc[x]>95:
      df.drop(x,inplace=True)

In [48]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
34    False
35    False
38    False
39    False
40    False
41    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [50]:
df.drop_duplicates(inplace=True)